Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
.vs/
.idea/
.vscode/
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.xcshareddata/
*.xcuserdata/
*.xccheckout
*.xcscmblueprint
Content/GeneratedRoutes/
